(
    name: ">LIGHT",
    width: 39,
    height: 27,
    spawn_point: (2192, -328),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0, 28, 27,  0,  0, 28, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  1,  4,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0, 26, 25,  0,  0,  3,  4,  0,  0,  0,  5,  1,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0, 26, 24, 24, 24, 24, 25,  0,  0,  0,  3,  1,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  0,  0,  0,  0,  0,  0,  5,  1, 22,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  0,  0,  0,  0,  5,  2,  0,  0,  3,  1,  1,  1,  1,  1,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  4,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  1,  1,  1,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 22,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZANA_0",
        entity_type: "ZANA",
        position: (
            -200.0,
            48.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_1",
        entity_type: "ZANA",
        position: (
            -264.0,
            48.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_2",
        entity_type: "ZANA",
        position: (
            -232.0,
            -16.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_3",
        entity_type: "ZNNA",
        position: (
            0.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_4",
        entity_type: "ZNNA",
        position: (
            16.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_5",
        entity_type: "ZNNA",
        position: (
            32.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_6",
        entity_type: "ZNNA",
        position: (
            48.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_7",
        entity_type: "ZNNA",
        position: (
            64.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_8",
        entity_type: "ZNNA",
        position: (
            80.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_9",
        entity_type: "ZNNA",
        position: (
            96.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_10",
        entity_type: "ZNNA",
        position: (
            112.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_11",
        entity_type: "ZANA",
        position: (
            -64.0,
            16.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_12",
        entity_type: "ZNNA",
        position: (
            168.0,
            -56.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_13",
        entity_type: "ZNNA",
        position: (
            184.0,
            -64.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_14",
        entity_type: "ZNNA",
        position: (
            200.0,
            -64.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_15",
        entity_type: "ZNNA",
        position: (
            184.0,
            -48.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_16",
        entity_type: "ZNNA",
        position: (
            200.0,
            -48.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_17",
        entity_type: "YASA",
        position: (
            -192.0,
            -32.0,
        ),
        sprite_id: 9,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 3,
            right_bound: 14,
            speed: 1,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNN~_18",
        entity_type: "YNN~",
        position: (
            64.0,
            48.0,
        ),
        sprite_id: 10,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_19",
        entity_type: "YASA",
        position: (
            128.0,
            -176.0,
        ),
        sprite_id: 9,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 44,
            right_bound: 64,
            speed: 3,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    messages: [],
    music: None,
    time_limit: Some(300),
)