(
    name: ">ONEHALF",
    width: 39,
    height: 27,
    spawn_point: (424, 360),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0, 14, 15,  0,  0, 14, 15,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0, 14,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0, 14, 15,  0,  0, 14, 15,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0, 14, 15,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 19, 16, 20, 20,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  0,  0,  0,  8,  8,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  8,  8,  0,  0,  0,  0,  8,  8,  0,  0,  0,  0,  8,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  8, 44,  0,  0,  0,  0, 44,  8,  8,  8,  8,  8,  8,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6, 20, 19, 18, 17, 18, 19, 21, 21,  7,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  1,  1,  1,  1,  1,  1,  1,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNA_0",
        entity_type: "ZNNA",
        position: (
            12.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 1,
            timer_max: 3,
            value: 50,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_1",
        entity_type: "ZNNA",
        position: (
            5.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_2",
        entity_type: "ZNNA",
        position: (
            7.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_3",
        entity_type: "ZNNA",
        position: (
            9.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_4",
        entity_type: "ZNNA",
        position: (
            11.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_5",
        entity_type: "ZNNA",
        position: (
            13.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_6",
        entity_type: "ZNNA",
        position: (
            10.0,
            423.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_7",
        entity_type: "ZNNA",
        position: (
            18.0,
            423.0,
        ),
        sprite_id: 1,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 1,
            right_bound: 3,
            speed: 5,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_8",
        entity_type: "ZNNA",
        position: (
            66.0,
            389.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_9",
        entity_type: "ZNNA",
        position: (
            36.0,
            389.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_10",
        entity_type: "ZNNA",
        position: (
            42.0,
            389.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_11",
        entity_type: "ZANA",
        position: (
            60.0,
            389.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_12",
        entity_type: "ZNNA",
        position: (
            14.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 1,
            timer_max: 3,
            value: 50,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_13",
        entity_type: "ZNNA",
        position: (
            37.0,
            409.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_14",
        entity_type: "ZNNA",
        position: (
            35.0,
            407.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_15",
        entity_type: "ZNNA",
        position: (
            33.0,
            405.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_16",
        entity_type: "ZNNA",
        position: (
            72.0,
            413.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_17",
        entity_type: "ZNNA",
        position: (
            74.0,
            413.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_18",
        entity_type: "ZNNA",
        position: (
            70.0,
            413.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YANA_19",
        entity_type: "YANA",
        position: (
            62.0,
            412.0,
        ),
        sprite_id: 6,
        behavior_type: PlatformWithGravity,
        behavior_params: PlatformWithGravity(
            speed: 1,
            start_x: 0,
            start_y: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_20",
        entity_type: "YASA",
        position: (
            53.0,
            408.0,
        ),
        sprite_id: 6,
        behavior_type: VerticalOscillator,
        behavior_params: VerticalOscillator(
            top_bound: 4,
            bottom_bound: 3,
            speed: 1,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_21",
        entity_type: "YASA",
        position: (
            49.0,
            408.0,
        ),
        sprite_id: 6,
        behavior_type: VerticalOscillator,
        behavior_params: VerticalOscillator(
            top_bound: 4,
            bottom_bound: 3,
            speed: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNN~_22",
        entity_type: "YNN~",
        position: (
            58.0,
            403.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_23",
        entity_type: "YASA",
        position: (
            74.0,
            413.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    music: None,
    time_limit: Some(300),
)