(
    name: ">RAIDER",
    width: 39,
    height: 27,
    spawn_point: (248, 424),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5, 23,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0, 26, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8, 35, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8, 35, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 37,  8, 32, 32,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0, 26, 27,  0,  0,  0,  0,  0, 50,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 37,  8,  8,  0,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 26, 24, 24, 29, 27,  0, 52, 53,  0,  0,  0,  0,  0,  0,  0,  0, 43,  0,  0, 43,  0, 37,  8,  8,  8,  8,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 53, 54,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 54, 55,  0, 19, 19,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39,  0,  0,  0,  0, 38,  0,  0,  0,  0, 19, 19,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 45, 46, 46, 46, 46, 47,  0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  5, 22,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  5,  0, 38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39,  0,  4,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  2, 44, 44, 44, 44,  8, 44, 44, 44, 44, 44,  8,  8, 31,  8, 44, 44, 44, 44, 31,  8,  8,  8,  8, 44, 44, 44, 44, 44,  3,  1,  1,  1,  1,  1],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNA_0",
        entity_type: "ZNNA",
        position: (
            8.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_1",
        entity_type: "ZNNA",
        position: (
            6.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_2",
        entity_type: "ZNNA",
        position: (
            4.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_3",
        entity_type: "ZNNA",
        position: (
            2.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_4",
        entity_type: "ZNNA",
        position: (
            0.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_5",
        entity_type: "ZNNA",
        position: (
            1.0,
            419.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_6",
        entity_type: "ZNNA",
        position: (
            3.0,
            419.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_7",
        entity_type: "ZNNA",
        position: (
            5.0,
            419.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNA_8",
        entity_type: "ZNNA",
        position: (
            7.0,
            419.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            1,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_9",
        entity_type: "ZNNB",
        position: (
            16.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_10",
        entity_type: "ZNNB",
        position: (
            20.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_11",
        entity_type: "ZNNB",
        position: (
            23.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_12",
        entity_type: "ZNNB",
        position: (
            26.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_13",
        entity_type: "ZNNB",
        position: (
            29.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_14",
        entity_type: "ZNNB",
        position: (
            32.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_15",
        entity_type: "ZNNB",
        position: (
            35.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_16",
        entity_type: "ZNNC",
        position: (
            41.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_17",
        entity_type: "ZNNC",
        position: (
            43.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_18",
        entity_type: "ZNNC",
        position: (
            45.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_19",
        entity_type: "ZNNC",
        position: (
            47.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_20",
        entity_type: "ZNNC",
        position: (
            50.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_21",
        entity_type: "ZNNC",
        position: (
            52.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_22",
        entity_type: "ZNNC",
        position: (
            54.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZAND_23",
        entity_type: "ZAND",
        position: (
            0.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            68,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZAND_24",
        entity_type: "ZAND",
        position: (
            76.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            68,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNND_25",
        entity_type: "YNND",
        position: (
            60.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            69,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNN~_26",
        entity_type: "YNN~",
        position: (
            26.0,
            427.0,
        ),
        sprite_id: 5,
        behavior_type: 1,
        behavior_params: (
            9,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 100,
        sound_effects: None,
    ),
    (
        id: "YNNA_27",
        entity_type: "YNNA",
        position: (
            68.0,
            411.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            66,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNB_28",
        entity_type: "YNNB",
        position: (
            27.0,
            403.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            67,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNC_29",
        entity_type: "YNNC",
        position: (
            30.0,
            425.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            68,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASD_30",
        entity_type: "YASD",
        position: (
            38.0,
            428.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            5,
            2,
            1,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASC_31",
        entity_type: "YASC",
        position: (
            36.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            15,
            36,
            2,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNA_32",
        entity_type: "YNNA",
        position: (
            29.0,
            403.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            6,
            68,
            19,
            70,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASE_33",
        entity_type: "YASE",
        position: (
            41.0,
            391.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            41,
            51,
            3,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASE_34",
        entity_type: "YASE",
        position: (
            46.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            46,
            56,
            1,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
],
    transitions: [],
    scripts: [],
    music: None,
    time_limit: Some(300),
)