(
    name: ">RAIDER",
    width: 39,
    height: 27,
    spawn_point: (1680, 168),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5, 23,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0, 26, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  1,  1,  1,  1,  4,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8, 35, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8, 35, 27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 37,  8, 32, 32,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0, 26, 27,  0,  0,  0,  0,  0, 50,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 37,  8,  8,  0,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 26, 24, 24, 29, 27,  0, 52, 53,  0,  0,  0,  0,  0,  0,  0,  0, 43,  0,  0, 43,  0, 37,  8,  8,  8,  8,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 53, 54,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 54, 55,  0, 19, 19,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39,  0,  0,  0,  0, 38,  0,  0,  0,  0, 19, 19,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 45, 46, 46, 46, 46, 47,  0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  5, 22,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  5,  0, 38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39,  0,  4,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  2, 44, 44, 44, 44,  8, 44, 44, 44, 44, 44,  8,  8, 31,  8, 44, 44, 44, 44, 31,  8,  8,  8,  8, 44, 44, 44, 44, 44,  3,  1,  1,  1,  1,  1],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNA_0",
        entity_type: "ZNNA",
        position: (
            -240.0,
            64.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_1",
        entity_type: "ZNNA",
        position: (
            -256.0,
            64.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_2",
        entity_type: "ZNNA",
        position: (
            -272.0,
            64.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_3",
        entity_type: "ZNNA",
        position: (
            -288.0,
            64.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_4",
        entity_type: "ZNNA",
        position: (
            -304.0,
            64.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_5",
        entity_type: "ZNNA",
        position: (
            -296.0,
            80.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_6",
        entity_type: "ZNNA",
        position: (
            -280.0,
            80.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_7",
        entity_type: "ZNNA",
        position: (
            -264.0,
            80.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNA_8",
        entity_type: "ZNNA",
        position: (
            -248.0,
            80.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZNNB_9",
        entity_type: "ZNNB",
        position: (
            -176.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_10",
        entity_type: "ZNNB",
        position: (
            -144.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_11",
        entity_type: "ZNNB",
        position: (
            -120.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_12",
        entity_type: "ZNNB",
        position: (
            -96.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_13",
        entity_type: "ZNNB",
        position: (
            -72.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_14",
        entity_type: "ZNNB",
        position: (
            -48.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_15",
        entity_type: "ZNNB",
        position: (
            -24.0,
            -160.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNC_16",
        entity_type: "ZNNC",
        position: (
            24.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_17",
        entity_type: "ZNNC",
        position: (
            40.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_18",
        entity_type: "ZNNC",
        position: (
            56.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_19",
        entity_type: "ZNNC",
        position: (
            72.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_20",
        entity_type: "ZNNC",
        position: (
            96.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_21",
        entity_type: "ZNNC",
        position: (
            112.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_22",
        entity_type: "ZNNC",
        position: (
            128.0,
            -160.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZAND_23",
        entity_type: "ZAND",
        position: (
            -304.0,
            -160.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 68,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "ZAND_24",
        entity_type: "ZAND",
        position: (
            304.0,
            -160.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 68,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YNND_25",
        entity_type: "YNND",
        position: (
            176.0,
            -160.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 69,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 68,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YNN~_26",
        entity_type: "YNN~",
        position: (
            -96.0,
            144.0,
        ),
        sprite_id: 10,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNA_27",
        entity_type: "YNNA",
        position: (
            240.0,
            16.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 66,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNB_28",
        entity_type: "YNNB",
        position: (
            -88.0,
            -48.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 67,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 66,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "YNNC_29",
        entity_type: "YNNC",
        position: (
            -64.0,
            128.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 68,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 67,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "YASD_30",
        entity_type: "YASD",
        position: (
            0.0,
            152.0,
        ),
        sprite_id: 9,
        behavior_type: EdgeWalkingPlatform,
        behavior_params: EdgeWalkingPlatform(
            speed: 2,
            start_x: 0,
            start_y: 0,
        ),
        room: 68,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YASC_31",
        entity_type: "YASC",
        position: (
            -16.0,
            -160.0,
        ),
        sprite_id: 8,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 15,
            right_bound: 36,
            speed: 2,
        ),
        room: 67,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "YNNA_32",
        entity_type: "YNNA",
        position: (
            -72.0,
            -48.0,
        ),
        sprite_id: 18,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 68,
            timer_max: 19,
            value: 70,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASE_33",
        entity_type: "YASE",
        position: (
            24.0,
            -144.0,
        ),
        sprite_id: 8,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 41,
            right_bound: 51,
            speed: 3,
        ),
        room: 69,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Group,
                group_char: Some('E'),
            ),
        )),
    ),
    (
        id: "YASE_34",
        entity_type: "YASE",
        position: (
            64.0,
            -160.0,
        ),
        sprite_id: 8,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 46,
            right_bound: 56,
            speed: 1,
        ),
        room: 69,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Group,
                group_char: Some('E'),
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    messages: [],
    music: None,
    time_limit: Some(300),
)