(
    name: ">RAILWAY",
    width: 39,
    height: 27,
    spawn_point: (2448, -1240),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 51,  0,  0,  0,  0,  0, 51,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 26, 24, 29, 24, 24, 25, 31, 44, 44,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 44, 44,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0, 14, 15,  0,  0, 19, 19, 19, 17, 16,  0,  0,  8, 41, 42,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0, 14, 15,  0, 28, 45, 47, 27,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0, 14, 14,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43, 43,  0,  0,  0,  0,  0, 50,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [31,  8,  8,  8,  8,  8,  8,  8,  8,  8, 44,  8,  8,  8,  8, 44,  8,  8,  8, 44,  8,  8,  8,  8,  8,  8,  8,  8, 32,  8,  8,  8,  8, 36,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 44, 44, 36,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0,  0, 20, 20],
        [ 0,  0,  0,  0,  0,  0, 19, 19, 19, 19, 20, 20, 20, 21, 20, 20, 21, 19, 19, 18, 17, 17, 18, 19, 19, 17, 16, 16, 18, 18, 18, 18, 19, 19, 20, 20, 21, 20, 40],
        [ 0,  0,  0,  0,  0,  0, 20,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [ 0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [38,  0, 51, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51, 41, 42,  0, 51,  0, 38,  0,  0,  0],
        [52, 52, 52, 52, 53, 54, 54, 54, 55, 52, 52, 52, 52, 53, 53, 53, 53, 54, 54, 55, 52, 52, 52, 52, 53, 53, 53, 52, 53, 52, 53, 54, 55, 52, 52, 53, 53, 53, 54],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNB_0",
        entity_type: "ZNNB",
        position: (
            -272.0,
            64.0,
        ),
        sprite_id: 16,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_1",
        entity_type: "ZNNB",
        position: (
            -248.0,
            64.0,
        ),
        sprite_id: 16,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_2",
        entity_type: "ZNNB",
        position: (
            -224.0,
            64.0,
        ),
        sprite_id: 16,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_3",
        entity_type: "ZNNB",
        position: (
            -136.0,
            -112.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_4",
        entity_type: "ZNNB",
        position: (
            -40.0,
            -112.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_5",
        entity_type: "ZNNB",
        position: (
            56.0,
            -112.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_6",
        entity_type: "ZNNB",
        position: (
            152.0,
            -112.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_7",
        entity_type: "ZNNB",
        position: (
            256.0,
            -112.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_8",
        entity_type: "ZNNB",
        position: (
            -80.0,
            16.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNC_9",
        entity_type: "ZNNC",
        position: (
            240.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_10",
        entity_type: "ZNNC",
        position: (
            208.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_11",
        entity_type: "ZNNC",
        position: (
            112.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_12",
        entity_type: "ZNNC",
        position: (
            48.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_13",
        entity_type: "ZNNC",
        position: (
            -16.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_14",
        entity_type: "ZNNC",
        position: (
            -80.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_15",
        entity_type: "ZNNC",
        position: (
            -144.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_16",
        entity_type: "ZNNC",
        position: (
            -208.0,
            -192.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_17",
        entity_type: "ZNNC",
        position: (
            -88.0,
            -112.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_18",
        entity_type: "ZNNC",
        position: (
            8.0,
            -112.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_19",
        entity_type: "ZNNC",
        position: (
            104.0,
            -112.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_20",
        entity_type: "ZNNC",
        position: (
            200.0,
            -112.0,
        ),
        sprite_id: 2,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZAND_21",
        entity_type: "ZAND",
        position: (
            -176.0,
            -16.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 68,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "ZAND_22",
        entity_type: "ZAND",
        position: (
            -192.0,
            -32.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 68,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YNN~_23",
        entity_type: "YNN~",
        position: (
            304.0,
            -192.0,
        ),
        sprite_id: 10,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNA_24",
        entity_type: "YNNA",
        position: (
            280.0,
            -192.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 66,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNB_25",
        entity_type: "YNNB",
        position: (
            -304.0,
            -48.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 67,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 66,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "YNNC_26",
        entity_type: "YNNC",
        position: (
            -224.0,
            -144.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 68,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 67,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "YAND_27",
        entity_type: "YAND",
        position: (
            -288.0,
            -192.0,
        ),
        sprite_id: 7,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 68,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YASA_28",
        entity_type: "YASA",
        position: (
            -272.0,
            -48.0,
        ),
        sprite_id: 8,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 4,
            right_bound: 65,
            speed: 3,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_29",
        entity_type: "YASA",
        position: (
            -272.0,
            -192.0,
        ),
        sprite_id: 9,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 4,
            right_bound: 67,
            speed: 2,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_30",
        entity_type: "YASA",
        position: (
            272.0,
            -112.0,
        ),
        sprite_id: 3,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 12,
            right_bound: 72,
            speed: 1,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    messages: [],
    music: None,
    time_limit: Some(300),
)