(
    name: ">FACE",
    width: 39,
    height: 27,
    spawn_point: (280, 152),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  0,  0,  0,  8,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  0,  8,  8,  0,  0,  0,  8,  8,  0,  0,  0,  8,  8],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNB_0",
        entity_type: "ZNNB",
        position: (
            66.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_1",
        entity_type: "ZNNB",
        position: (
            64.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_2",
        entity_type: "ZNNB",
        position: (
            56.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_3",
        entity_type: "ZNNB",
        position: (
            54.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_4",
        entity_type: "ZNNB",
        position: (
            46.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_5",
        entity_type: "ZNNB",
        position: (
            44.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_6",
        entity_type: "ZNNB",
        position: (
            38.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNC_7",
        entity_type: "ZNNC",
        position: (
            36.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_8",
        entity_type: "ZNNC",
        position: (
            30.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_9",
        entity_type: "ZNNC",
        position: (
            28.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_10",
        entity_type: "ZNNC",
        position: (
            22.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_11",
        entity_type: "ZNNC",
        position: (
            20.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_12",
        entity_type: "ZNNC",
        position: (
            14.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_13",
        entity_type: "ZNNC",
        position: (
            12.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_14",
        entity_type: "ZNNC",
        position: (
            10.0,
            387.0,
        ),
        sprite_id: 1,
        behavior_type: AnimatedCollectible,
        behavior_params: AnimatedCollectible(
            animation_speed: 67,
            timer_max: 3,
            value: 50,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZANA_15",
        entity_type: "ZANA",
        position: (
            36.0,
            391.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_16",
        entity_type: "ZANA",
        position: (
            34.0,
            391.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_17",
        entity_type: "ZANA",
        position: (
            32.0,
            391.0,
        ),
        sprite_id: 1,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 1,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNA_18",
        entity_type: "YNNA",
        position: (
            76.0,
            387.0,
        ),
        sprite_id: 6,
        behavior_type: AdvancedProjectile,
        behavior_params: AdvancedProjectile(
            direction: 7,
            target_pos: 66,
            speed: 0,
            reload_time: 0,
            timer: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNAC_19",
        entity_type: "YNAC",
        position: (
            74.0,
            387.0,
        ),
        sprite_id: 0,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: None,
    ),
    (
        id: "YNNB_20",
        entity_type: "YNNB",
        position: (
            0.0,
            387.0,
        ),
        sprite_id: 6,
        behavior_type: AdvancedProjectile,
        behavior_params: AdvancedProjectile(
            direction: 7,
            target_pos: 67,
            speed: 0,
            reload_time: 0,
            timer: 0,
        ),
        room: 66,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "YNN~_21",
        entity_type: "YNN~",
        position: (
            76.0,
            387.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_22",
        entity_type: "YASA",
        position: (
            4.0,
            387.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    music: None,
    time_limit: Some(300),
)