(
    name: ">FACE",
    width: 39,
    height: 27,
    spawn_point: (1936, -2008),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  0,  0,  0,  8,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  8,  8,  0,  0,  0,  8,  8,  0,  0,  0,  8,  8,  0,  0,  0,  8,  8],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNB_0",
        entity_type: "ZNNB",
        position: (
            224.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_1",
        entity_type: "ZNNB",
        position: (
            208.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_2",
        entity_type: "ZNNB",
        position: (
            144.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_3",
        entity_type: "ZNNB",
        position: (
            128.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_4",
        entity_type: "ZNNB",
        position: (
            64.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_5",
        entity_type: "ZNNB",
        position: (
            48.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_6",
        entity_type: "ZNNB",
        position: (
            0.0,
            -176.0,
        ),
        sprite_id: 13,
        behavior_type: Static,
        behavior_params: Static,
        room: 66,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNC_7",
        entity_type: "ZNNC",
        position: (
            -16.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_8",
        entity_type: "ZNNC",
        position: (
            -64.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_9",
        entity_type: "ZNNC",
        position: (
            -80.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_10",
        entity_type: "ZNNC",
        position: (
            -128.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_11",
        entity_type: "ZNNC",
        position: (
            -144.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_12",
        entity_type: "ZNNC",
        position: (
            -192.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_13",
        entity_type: "ZNNC",
        position: (
            -208.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_14",
        entity_type: "ZNNC",
        position: (
            -224.0,
            -176.0,
        ),
        sprite_id: 6,
        behavior_type: Static,
        behavior_params: Static,
        room: 67,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZANA_15",
        entity_type: "ZANA",
        position: (
            -16.0,
            -144.0,
        ),
        sprite_id: 4,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_16",
        entity_type: "ZANA",
        position: (
            -32.0,
            -144.0,
        ),
        sprite_id: 4,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "ZANA_17",
        entity_type: "ZANA",
        position: (
            -48.0,
            -144.0,
        ),
        sprite_id: 4,
        behavior_type: Static,
        behavior_params: Static,
        room: 1,
        pickupable: true,
        pickup_value: 3,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNA_18",
        entity_type: "YNNA",
        position: (
            304.0,
            -176.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 66,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNAC_19",
        entity_type: "YNAC",
        position: (
            288.0,
            -176.0,
        ),
        sprite_id: 7,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: None,
    ),
    (
        id: "YNNB_20",
        entity_type: "YNNB",
        position: (
            -304.0,
            -176.0,
        ),
        sprite_id: 18,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 67,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 66,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "YNN~_21",
        entity_type: "YNN~",
        position: (
            304.0,
            -176.0,
        ),
        sprite_id: 10,
        behavior_type: RandomMovement,
        behavior_params: RandomMovement(
            boundary_mode: 1,
            speed: 0,
            direction: 0,
            timer: 0,
            old_direction: 0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_22",
        entity_type: "YASA",
        position: (
            -272.0,
            -176.0,
        ),
        sprite_id: 36,
        behavior_type: HorizontalOscillator,
        behavior_params: HorizontalOscillator(
            left_bound: 4,
            right_bound: 71,
            speed: 3,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    messages: [],
    music: None,
    time_limit: Some(300),
)