(
    name: ">RAILWAY",
    width: 39,
    height: 27,
    spawn_point: (344, 248),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 51,  0,  0,  0,  0,  0, 51,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 26, 24, 29, 24, 24, 25, 31, 44, 44,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 44, 44,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0, 14, 15,  0,  0, 19, 19, 19, 17, 16,  0,  0,  8, 41, 42,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0, 14, 15,  0, 28, 45, 47, 27,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0, 14, 14,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43, 43,  0,  0,  0,  0,  0, 50,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [31,  8,  8,  8,  8,  8,  8,  8,  8,  8, 44,  8,  8,  8,  8, 44,  8,  8,  8, 44,  8,  8,  8,  8,  8,  8,  8,  8, 32,  8,  8,  8,  8, 36,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 44, 44, 36,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0, 40,  0,  0,  0, 20, 20],
        [ 0,  0,  0,  0,  0,  0, 19, 19, 19, 19, 20, 20, 20, 21, 20, 20, 21, 19, 19, 18, 17, 17, 18, 19, 19, 17, 16, 16, 18, 18, 18, 18, 19, 19, 20, 20, 21, 20, 40],
        [ 0,  0,  0,  0,  0,  0, 20,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [ 0,  0,  0,  0,  0, 20, 20,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [38,  0, 51, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51,  0, 41, 42, 51, 41, 42,  0, 51,  0, 38,  0,  0,  0],
        [52, 52, 52, 52, 53, 54, 54, 54, 55, 52, 52, 52, 52, 53, 53, 53, 53, 54, 54, 55, 52, 52, 52, 52, 53, 53, 53, 52, 53, 52, 53, 54, 55, 52, 52, 53, 53, 53, 54],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNB_0",
        entity_type: "ZNNB",
        position: (
            4.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 16,
        behavior_params: (
            66,
            3,
            100,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_1",
        entity_type: "ZNNB",
        position: (
            7.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 16,
        behavior_params: (
            66,
            3,
            100,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_2",
        entity_type: "ZNNB",
        position: (
            10.0,
            417.0,
        ),
        sprite_id: 1,
        behavior_type: 16,
        behavior_params: (
            66,
            3,
            100,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_3",
        entity_type: "ZNNB",
        position: (
            21.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_4",
        entity_type: "ZNNB",
        position: (
            33.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_5",
        entity_type: "ZNNB",
        position: (
            45.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_6",
        entity_type: "ZNNB",
        position: (
            57.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_7",
        entity_type: "ZNNB",
        position: (
            70.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNB_8",
        entity_type: "ZNNB",
        position: (
            28.0,
            411.0,
        ),
        sprite_id: 1,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: true,
        pickup_value: 66,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "ZNNC_9",
        entity_type: "ZNNC",
        position: (
            68.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_10",
        entity_type: "ZNNC",
        position: (
            64.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_11",
        entity_type: "ZNNC",
        position: (
            52.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_12",
        entity_type: "ZNNC",
        position: (
            44.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_13",
        entity_type: "ZNNC",
        position: (
            36.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_14",
        entity_type: "ZNNC",
        position: (
            28.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_15",
        entity_type: "ZNNC",
        position: (
            20.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_16",
        entity_type: "ZNNC",
        position: (
            12.0,
            385.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_17",
        entity_type: "ZNNC",
        position: (
            27.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_18",
        entity_type: "ZNNC",
        position: (
            39.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_19",
        entity_type: "ZNNC",
        position: (
            51.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZNNC_20",
        entity_type: "ZNNC",
        position: (
            63.0,
            395.0,
        ),
        sprite_id: 1,
        behavior_type: 2,
        behavior_params: (
            67,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: true,
        pickup_value: 67,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "ZAND_21",
        entity_type: "ZAND",
        position: (
            16.0,
            407.0,
        ),
        sprite_id: 1,
        behavior_type: 6,
        behavior_params: (
            68,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 68,
        pickupable: true,
        pickup_value: 68,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "ZAND_22",
        entity_type: "ZAND",
        position: (
            14.0,
            405.0,
        ),
        sprite_id: 1,
        behavior_type: 6,
        behavior_params: (
            68,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 68,
        pickupable: true,
        pickup_value: 68,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: PickupWalk,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YNN~_23",
        entity_type: "YNN~",
        position: (
            76.0,
            385.0,
        ),
        sprite_id: 6,
        behavior_type: 10,
        behavior_params: (
            9,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: ExitOnAllCollected,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNA_24",
        entity_type: "YNNA",
        position: (
            73.0,
            385.0,
        ),
        sprite_id: 6,
        behavior_type: 18,
        behavior_params: (
            7,
            66,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YNNB_25",
        entity_type: "YNNB",
        position: (
            0.0,
            403.0,
        ),
        sprite_id: 6,
        behavior_type: 18,
        behavior_params: (
            7,
            67,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 66,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('B'),
            ),
        )),
    ),
    (
        id: "YNNC_26",
        entity_type: "YNNC",
        position: (
            10.0,
            391.0,
        ),
        sprite_id: 6,
        behavior_type: 18,
        behavior_params: (
            7,
            68,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 67,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: false,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('C'),
            ),
        )),
    ),
    (
        id: "YAND_27",
        entity_type: "YAND",
        position: (
            2.0,
            385.0,
        ),
        sprite_id: 6,
        behavior_type: 7,
        behavior_params: (
            10,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 68,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: None,
            appear: (
                mode: Group,
                group_char: Some('D'),
            ),
        )),
    ),
    (
        id: "YASA_28",
        entity_type: "YASA",
        position: (
            4.0,
            403.0,
        ),
        sprite_id: 6,
        behavior_type: 8,
        behavior_params: (
            2,
            4,
            65,
            3,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_29",
        entity_type: "YASA",
        position: (
            4.0,
            385.0,
        ),
        sprite_id: 6,
        behavior_type: 9,
        behavior_params: (
            2,
            4,
            67,
            2,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
    (
        id: "YASA_30",
        entity_type: "YASA",
        position: (
            72.0,
            395.0,
        ),
        sprite_id: 6,
        behavior_type: 3,
        behavior_params: (
            2,
            12,
            72,
            1,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
        entity_props: Some((
            interaction_kind: SpecialTouch,
            animated: true,
            danger: Mortal,
            appear: (
                mode: Immediate,
                group_char: None,
            ),
        )),
    ),
],
    transitions: [],
    scripts: [],
    music: None,
    time_limit: Some(300),
)