(
    name: ">FLOATER",
    width: 39,
    height: 27,
    spawn_point: (232, 352),
    background_image: None,
    tilemap: [
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  0,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [51, 51, 51, 51, 51, 51,  0,  0,  0,  0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43,  0,  0,  0,  0,  0,  0,  0,  0,  0, 38,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8, 32,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39],
        [ 0,  0,  0, 31,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8, 32,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 43, 39],
        [ 0,  0,  0, 31,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8, 34,  8, 33,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8, 32,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 39],
        [ 0,  0,  0, 31,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8, 32,  0,  0,  0,  0],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 50, 39],
        [ 0,  0,  0, 31,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [38,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 40],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
    ],
    entities: [
    (
        id: "ZNNB_0",
        entity_type: "ZNNB",
        position: (
            10.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_1",
        entity_type: "ZNNB",
        position: (
            14.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_2",
        entity_type: "ZNNB",
        position: (
            18.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_3",
        entity_type: "ZNNB",
        position: (
            23.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_4",
        entity_type: "ZNNB",
        position: (
            42.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_5",
        entity_type: "ZNNB",
        position: (
            47.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_6",
        entity_type: "ZNNB",
        position: (
            52.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_7",
        entity_type: "ZNNB",
        position: (
            57.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_8",
        entity_type: "ZNNB",
        position: (
            63.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            10,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_9",
        entity_type: "ZNNB",
        position: (
            12.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_10",
        entity_type: "ZNNB",
        position: (
            16.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_11",
        entity_type: "ZNNB",
        position: (
            21.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_12",
        entity_type: "ZNNB",
        position: (
            44.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_13",
        entity_type: "ZNNB",
        position: (
            49.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_14",
        entity_type: "ZNNB",
        position: (
            55.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_15",
        entity_type: "ZNNB",
        position: (
            60.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            5,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZANB_16",
        entity_type: "ZANB",
        position: (
            14.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZANB_17",
        entity_type: "ZANB",
        position: (
            25.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZANB_18",
        entity_type: "ZANB",
        position: (
            39.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZANB_19",
        entity_type: "ZANB",
        position: (
            52.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZANB_20",
        entity_type: "ZANB",
        position: (
            64.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            50,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_21",
        entity_type: "ZNNB",
        position: (
            11.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_22",
        entity_type: "ZNNB",
        position: (
            18.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_23",
        entity_type: "ZNNB",
        position: (
            31.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_24",
        entity_type: "ZNNB",
        position: (
            46.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNB_25",
        entity_type: "ZNNB",
        position: (
            57.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            66,
            3,
            15,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_26",
        entity_type: "ZNNC",
        position: (
            13.0,
            393.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            30,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_27",
        entity_type: "ZNNC",
        position: (
            32.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            30,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_28",
        entity_type: "ZNNC",
        position: (
            57.0,
            413.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            30,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_29",
        entity_type: "ZNNC",
        position: (
            14.0,
            413.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            30,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_30",
        entity_type: "ZNNC",
        position: (
            60.0,
            393.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            30,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_31",
        entity_type: "ZNNC",
        position: (
            33.0,
            393.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            35,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_32",
        entity_type: "ZNNC",
        position: (
            23.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            35,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_33",
        entity_type: "ZNNC",
        position: (
            48.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            35,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_34",
        entity_type: "ZNNC",
        position: (
            28.0,
            417.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            40,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_35",
        entity_type: "ZNNC",
        position: (
            30.0,
            417.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            40,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_36",
        entity_type: "ZNNC",
        position: (
            32.0,
            417.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            40,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_37",
        entity_type: "ZNNC",
        position: (
            34.0,
            417.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            40,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_38",
        entity_type: "ZNNC",
        position: (
            36.0,
            417.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            40,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_39",
        entity_type: "ZNNC",
        position: (
            6.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            150,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_40",
        entity_type: "ZNNC",
        position: (
            6.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            150,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_41",
        entity_type: "ZNNC",
        position: (
            6.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            150,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_42",
        entity_type: "ZNNC",
        position: (
            6.0,
            413.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            150,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_43",
        entity_type: "ZNNC",
        position: (
            68.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            200,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "ZNNC_44",
        entity_type: "ZNNC",
        position: (
            68.0,
            393.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            67,
            3,
            200,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNA_45",
        entity_type: "YNNA",
        position: (
            73.0,
            385.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            8,
            64,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNA_46",
        entity_type: "YNNA",
        position: (
            29.0,
            413.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            66,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YANB_47",
        entity_type: "YANB",
        position: (
            4.0,
            403.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            10,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YANB_48",
        entity_type: "YANB",
        position: (
            70.0,
            391.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            10,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNNB_49",
        entity_type: "YNNB",
        position: (
            71.0,
            385.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            7,
            67,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YNN~_50",
        entity_type: "YNN~",
        position: (
            73.0,
            385.0,
        ),
        sprite_id: 5,
        behavior_type: 1,
        behavior_params: (
            9,
            1,
            0,
            0,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: true,
        pickup_value: 100,
        sound_effects: None,
    ),
    (
        id: "YASB_51",
        entity_type: "YASB",
        position: (
            76.0,
            413.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            3,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_52",
        entity_type: "YASB",
        position: (
            0.0,
            409.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            2,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_53",
        entity_type: "YASB",
        position: (
            76.0,
            405.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            1,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_54",
        entity_type: "YASB",
        position: (
            0.0,
            401.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            3,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_55",
        entity_type: "YASB",
        position: (
            76.0,
            397.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            2,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_56",
        entity_type: "YASB",
        position: (
            0.0,
            393.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            2,
            0,
            76,
            1,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
    (
        id: "YASB_57",
        entity_type: "YASB",
        position: (
            6.0,
            389.0,
        ),
        sprite_id: 0,
        behavior_type: 1,
        behavior_params: (
            3,
            43,
            47,
            1,
            0,
            0,
            0,
        ),
        room: 1,
        pickupable: false,
        pickup_value: 0,
        sound_effects: None,
    ),
],
    transitions: [],
    scripts: [],
    music: None,
    time_limit: Some(300),
)