// Siriel Macroquad Level - Converted from MIE
// Original name: ~SLO~Mala cesta

(
    name: "~SLO~Mala cesta",
    music: "ZBUBLE",
    start_position: (x: 88, y: 88),
    map: (
        width: 0,
        height: 0,
        tiles: [
        ],
    ),
)
